@import url(https://fonts.google.com/specimen/Outfit);

.attribution{
    font-size: 11px;
    text-align: center; 
    color: hsl(228, 45%, 44%);
 }
 body{
    background-color: hsl(212, 45%, 89%);
 }
main{    
    display: flex;
    font-family:'Outfit', sans-serif ;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.card{
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 9%;
    margin-bottom:10px ;
    text-align:center;
}
img{
    width:250px ;
    border-radius: 10px;
    
}
h3{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}




